%tr
  %td= student.amount
  %td= student.due_date
  %td= student.payment_date
  %td
    = link_to student_payment_path(student_payment), { title: t('shared.show') } do
      %button.btn.btn-default
        = fa_icon "search"
    = link_to edit_student_payment_path(student_payment), { title: t('shared.edit') } do
      %button.btn.btn-default
        = fa_icon "edit"
    = link_to student_payment_path(student_payment), { method: :delete, title: t('shared.delete') } do
      %button.btn.btn-default
        = fa_icon "times"
